.popup {
  position: fixed;
  top: 50%;
  left: 50%;

  width: 400px;
  padding: 25px 0 25px 0;

  background-color: white;
  border-radius: 5px;
  transform: translate(-50%, -50%);

  @extend %shadow;

  .tariff__wrapper {
    padding: 30px 0 25px 0;

    pointer-events: none;
  }
}

.popup__title {
  font-weight: 700;
  font-size: 21px;
}

.popup__close {
  position: absolute;
  top: 15px;
  right: 15px;

  width: 15px;
  height: 15px;
  padding: 0;

  background-color: transparent;
  background-image: url("../img/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 1100px) {
  .popup {
    width: 480px;

    .tariff__description {
      width: 400px;
    }
  }
}
