.tariffs {
  width: 360px;
  margin: 0 auto;
  padding: 25px 0 25px 0;

  background-color: white;
  border-radius: 5px;

  @extend %shadow;
}

@media screen and (min-width: 1100px) {
  .tariffs {
    width: 1030px;
    padding: 25px 0 25px 0;
  }
}
