.tariff {
  width: 320px;
  margin: 0 auto;
  padding: 30px 0 20px 0;

  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: $lightGray;
  }
}

.tariff__wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.tariff__image {
  display: block;
  width: 60px;
  margin: 0 auto;
  padding: 0;
}

.tariff__name {
  margin: 0;
  padding: 20px 0 20px 0;

  font-size: 24px;
  color: $blue;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.tariff__description {
  width: 275px;
  margin: 0;

  color: $gray;
}

@media screen and (min-width: 1100px) {
  .tariff {
    box-sizing: border-box;
    width: 330px;
    margin: 0;
  }
}
